<!DOCTYPE html>
<html ng-app="location-search">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <title>Location Search</title>
    <link rel="stylesheet" href="assets/css/materialdesignicons.min.css"></link>
    <link rel="stylesheet" href="assets/lib/angular/angular-material.min.css"></link>
    <link rel="stylesheet" href="assets/css/location-search.css"></link>
  </head>
  <body layout="column" ng-controller="ApplicationController">
    <section layout="row" flex ng-view>
    </section>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="assets/lib/angular/angular.min.js"></script>
    <script src="assets/lib/angular/angular-route.min.js"></script>
    <script src="assets/lib/angular/angular-animate.min.js"></script>
    <script src="assets/lib/angular/angular-aria.min.js"></script>
    <script src="assets/lib/angular/angular-material.min.js"></script>
    <script src="assets/app/app.js"></script>
    <script src="assets/app/config.js"></script>
    <script src="assets/app/controllers.js"></script>
  </body>
</html>
