<!DOCTYPE html>
<html ng-app="appname">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <title>APPNAME</title>
    <link rel="stylesheet" href="/assets/lib/angular/angular-material.min.css"></link>
    <link rel="stylesheet" href="/assets/css/materialdesignicons.min.css"></link>
    <link rel="stylesheet" href="/assets/css/appname.css"></link>
  </head>
  <body layout="column" ng-controller="ApplicationController">
    <div layout="row" flex>
      <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
      </md-sidenav>
      <div layout="column" flex>
        <md-content layout="column" flex class="md-padding">
          <div layout="row" layout-wrap>
            <md-button class="md-fab md-primary" ng-click="toggleSidenav('left')">
              <md-icon md-font-icon="mdi-menu" class="mdi"></md-icon>
            </md-button>
          </div>
        </md-content>
      </div>
    </div>
    <script src="/assets/lib/angular/angular.min.js"></script>
    <script src="/assets/lib/angular/angular-aria.min.js"></script>
    <script src="/assets/lib/angular/angular-animate.min.js"></script>
    <script src="/assets/lib/angular/angular-material.min.js"></script>
    <script>window.app = angular.module("appname", ["ngMaterial"])</script>
    <script src="/assets/app/config.js"></script>
    <script src="/assets/app/controllers.js"></script>
    <script src="/assets/app/services.js"></script>
  </body>
</html>
